.colorwrapper {
  background-color: @black;
}

.welcome {
  background-color: @black;
  .intro {
    color: @white;
    h1 {
      font-size: 6rem;
    }
    h2 {
      font-size: 4.5rem;
    }
  }
}
