<div class="colorwrapper">
  <div class="container">

    <div ng-include="'components/navbar/navbar.html'"></div>
    <section class="welcome">
      <article class="intro">
        <div class="col-md-12 text-center">
          <h1>My name is Ricardo Vazquez.</h1>
          <h2>I love code. I love art. I love coding art.</h2>
        </div>
      </article>
    </section>

  </div>
</div>

<div class="container projects">
  <section>
    <h1 class="text-center">This is some of my work.</h1>
    <h4 class="text-center">Here are some of the recent projects I've had the pleasure of undertaking. Every one of them contains a piece of me, how else could I call it my own?</h4>
    <div class="col-sm-12 project-list">
      <div ng-repeat="project in projects">
        <div class="col-xs-12 col-sm-4 thumb">
          <a class="project-img-link" href="#"><img ng-src="assets/projects/{{project.img}}" alt="Mozilla Webmaker"></a>
          <div class="metadata">
            <h4>{{project.name}}</h4>
            <p>{{project.desc}}</p>
            <a class="project-link" href="#">View case study</a>
          </div>
        </div>
      </div>
    </div>
    <h1 class="text-center">But I want more...</h1>
    <h4 class="text-center">I want to inspire more people, craft better experiences, and talk to amazing people with bright ideas. I'm in it for the thrill. Have an idea? <a href="mailto:hello@rvazquez.ca">Let's talk</a>.</h4>
</h1>
  </section>
</div>

  <!-- <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}">
        <div class="caption">
          <h3>{{awesomeThing.title}}</h3>
          <p>{{awesomeThing.description}}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div> -->


