.navbar-default {
  background-color: @black;
  border: none;
  padding: 2rem 0;
}
.navbar-brand img {
  width: 3rem;
  margin-top: -0.5rem;
  transition: all 0.2s ease-in;
  &:hover {
    transform: scale(1.1);
  }
}
.navbar {
  ul {
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: table;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 2s;
  }
  li {
    display: inline-block;
    font-family: "petala-pro";
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    letter-spacing: 0.1rem;
    &:nth-child(1) {
      padding: 1rem 1.5rem 1rem 0;
    }
    &:nth-child(4) {
      padding: 1rem 0 1rem 1.5rem;
    }
    a, a:visited, a:focus {
      position: relative;
      display: inline-block;
      padding: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      color: @white;
      outline: medium none;
      opacity: 1;
      transition: color 0.3s ease-out;
      &:before {
        position: absolute;
        top: 100%;
        left: 50%;
        color: transparent;
        content: "•";
        transition: text-shadow 0.3s ease 0s, color 0.3s ease 0s;
        transform: translateX(-50%);
        pointer-events: none;
      }
      &:hover {
        color: @midgrey;
        &:before {
          color: @midgrey;
          text-shadow: 10px 0px @midgrey, -10px 0px @midgrey;
        }
      }
    }
  }
}

@keyframes dropHeader {
  0% {
    transform: translateY(-7rem);
  }
  70% {
    transform: translateY(-7rem);
  }
  100% {
    transform: translateY(0rem);
  }
}